<div flex="100" layout="row" layout-align="none" class="full-height home-background">
    <div flex="65"></div>
    <div flex="30" layout="column">
        <div flex="30"></div>
        <div flex layout="row" layout-align="center stretch">
            <form name="logInForm" ng-submit="logIn()" flex>
                <md-card layout="column" flex>
                    <md-card-header>
                        <md-card-header-text layout-align="center center">
                            <span class="md-title title">Welcome to Tripulator!</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content class="special-padding" layout="row">
                        <div flex="15"></div>
                        <div layout="column" flex>
                            <md-input-container>
                                <input ng-model="user.username" placeholder="username" ng-required="true">
                            </md-input-container>
                            <md-input-container>
                                <input type="password" ng-model="user.password" placeholder="password" ng-required="true">
                            </md-input-container>
                        </div>
                        <div flex="15"></div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="space-around center" flex="10">
                        <md-button class="md-primary" ng-click="showRegister($event)" flex="50">Register</md-button>
                        <md-button class="md-primary" ng-disabled="logInForm.$invalid" type="submit" flex="50">Log in</md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
        <div flex="25"></div>
    </div>
    <div flex="5"></div>
</div>
