<div flex="100" layout="row" layout-align="none" class="full-height">
    <div flex="20" class="page-margin"></div>
    <div layout="column" class="content-color" flex="60">
        <md-toolbar>
            <div class="md-toolbar-tools sub-toolbar" layout="row" layout-align="space-between center">
                <div flex="15">
                    <md-icon class="material-icons">account_circle</md-icon>
                    <span>{{username | uppercase | limitTo: 15}}</span>
                </div>
                <div flex="15">
                    <span>{{'trip history' | uppercase}}</span>
                </div>
                <md-button ng-click="showCreate()" flex="15">
                    <md-icon class="material-icons">add_box</md-icon>
                    Create Trip
                </md-button>
            </div>
        </md-toolbar>
        <div class="scroll-content trip-container" layout="row" layout-wrap>
            <md-card layout="column" flex="45" ng-repeat="trip in trips">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{trip.name}}</span>
                        <span class="md-subhead">{{trip.arrivalDate | date}} - {{trip.departureDate | date}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <img ng-src="http://lorempixel.com/50/50" />
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row " layout-align="space-around center " flex="10 ">
                    <md-button class="md-warn md-hue-3" ng-click="delete(trip)" flex="50">
                        <md-icon class="material-icons">delete</md-icon>
                        Delete
                    </md-button>
                    <md-button class="md-primary md-hue-1" ng-click="showTrip(trip)" flex="50">
                        <md-icon class="material-icons">pageview</md-icon>
                        View Calendar
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div flex="20" class="page-margin"></div>
</div>
