<md-dialog ng-cloak class="medium-dialog">
    <form name="createEventForm" ng-submit="answer(newEvent)">
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <h2>Create Event</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <input ng-model="newEvent.name" placeholder="Type Event's name" ng-required="true">
                    </md-input-container>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Arrival time: </label>
                            <input type="time" name="arrival" ng-model="newEvent.arrivalDate" ng-required="true" placeholder="HH:mm:ss">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label for="departure">Departure time:</label>
                            <input type="time" name="departure" ng-model="newEvent.departureDate" ng-required="true" placeholder="HH:mm:ss">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary md-hue-2" ng-click="cancel()" flex="50">
                Cancel
            </md-button>
            <md-button class="md-primary md-hue-2" type="submit" ng-disabled="createEventForm.$invalid" flex="50">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
