<div flex="100" layout="row" layout-align="none" class="full-height">
    <div flex="20" class="page-margin"></div>
    <div layout="column" class="content-color" flex="60">
        <md-toolbar>
            <div class="md-toolbar-tools sub-toolbar" layout="row" layout-align="space-between center">
                <md-button ng-click="goBack()" flex="15">
                    <md-icon class="material-icons">navigate_before</md-icon>
                    Back
                </md-button>
                <div flex="15">
                    <span>{{tripname | uppercase | limitTo:15}} - {{date | date:'shortDate'}}</span>
                </div>
                <md-button ng-click="showCreate()" flex="15">
                    <md-icon class="material-icons">add_box</md-icon>
                    Create Event
                </md-button>
            </div>
        </md-toolbar>
        <div class="scroll-content event-holder" layout="row" layout-wrap>
            <md-card layout="column" flex="30" ng-repeat="event in events">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{event.name}}</span>
                        <span class="md-subhead">{{event.arrivalDate | date:'shortTime'}}-{{event.departureDate | date:'shortTime'}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row " layout-align="space-around center " flex="10 ">
                    <span flex></span>
                    <md-button class="md-warn md-hue-3" ng-click="delete(event)" flex="30">
                        <md-icon class="material-icons">delete</md-icon>
                        Delete
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div flex="20" class="page-margin"></div>
</div>
